flask==3.1.0
flask-cors==5.0.1
gunicorn==23.0.0
firebase-admin==6.8.0
geopy==2.4.1
cryptography==44.0.2
PyJWT==2.10.1
bcrypt==4.3.0
python-dotenv==1.1.0
opencv-python-headless==4.7.0.72
numpy==1.24.3
mediapipe==0.10.5
deepface==0.0.89
tf-keras